In [22]:
import pandas as pd
from dash import Dash,html,dcc
import numpy as np

In [3]:
avocado_df=pd.read_csv("avocado.csv")
avocado_df

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [4]:
regions=avocado_df["region"].sort_values().unique()
regions

array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale',
       'Midsouth', 'Nashville', 'NewOrleansMobile', 'NewYork',
       'Northeast', 'NorthernNewEngland', 'Orlando', 'Philadelphia',
       'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland',
       'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento',
       'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina',
       'SouthCentral', 'Southeast', 'Spokane', 'StLouis', 'Syracuse',
       'Tampa', 'TotalUS', 'West', 'WestTexNewMexico'], dtype=object)

In [5]:
avocado_types=avocado_df["type"].sort_values().unique()
avocado_types

array(['conventional', 'organic'], dtype=object)

In [6]:
#NOTE: while using pandas, we need to use & opertor and not the "and" keyword, also the brackets are important
avocado_type1=avocado_df[(avocado_df.type=='conventional') & (avocado_df.region=='Albany')]
avocado_type1

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.00,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.00,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.00,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.00,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.00,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8485,7,2018-02-04,1.03,216738.47,7625.65,195725.06,143.53,13244.23,10571.60,2422.63,250.00,conventional,2018,Albany
8486,8,2018-01-28,1.57,93625.03,3101.17,74627.23,55.59,15841.04,11614.79,4159.58,66.67,conventional,2018,Albany
8487,9,2018-01-21,1.69,135196.35,3133.37,116520.88,88.78,15453.32,10023.79,5429.53,0.00,conventional,2018,Albany
8488,10,2018-01-14,1.42,95246.38,2897.41,76570.67,44.00,15734.30,10012.80,5721.50,0.00,conventional,2018,Albany
8489,11,2018-01-07,1.13,98540.22,2940.63,76192.61,42.63,19364.35,8633.09,10707.93,23.33,conventional,2018,Albany

In [7]:
type(avocado_df.Date)

pandas.core.series.Series

In [8]:
type(avocado_type1)

pandas.core.frame.DataFrame

In [9]:
#NOTE: without making an independent copy here, a chain indexing copy error will be genrated
avocado_type1 = avocado_type1.copy()
avocado_type1['Date'] = pd.to_datetime(avocado_type1['Date'])

In [10]:
avocado_type1['Date'].dtype
#sucessfully converted to date time format

dtype('<M8[ns]')

In [11]:
avocado_type11=avocado_type1.sort_values('Date', ascending=True)
avocado_type11

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
51,51,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.00,conventional,2015,Albany
50,50,2015-01-11,1.24,41195.08,1002.85,31640.34,127.12,8424.77,8036.04,388.73,0.00,conventional,2015,Albany
49,49,2015-01-18,1.17,44511.28,914.14,31540.32,135.77,11921.05,11651.09,269.96,0.00,conventional,2015,Albany
48,48,2015-01-25,1.06,45147.50,941.38,33196.16,164.14,10845.82,10103.35,742.47,0.00,conventional,2015,Albany
47,47,2015-02-01,0.99,70873.60,1353.90,60017.20,179.32,9323.18,9170.82,152.36,0.00,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8482,4,2018-02-25,1.28,104278.89,10368.77,59723.32,48.00,34138.80,30126.31,3702.49,310.00,conventional,2018,Albany
8481,3,2018-03-04,1.08,139520.60,12002.12,105069.57,95.62,22353.29,16128.51,5941.45,283.33,conventional,2018,Albany
8480,2,2018-03-11,1.12,144648.75,15823.35,110950.68,70.00,17804.72,14480.52,3033.09,291.11,conventional,2018,Albany
8479,1,2018-03-18,1.35,105304.65,13234.86,61037.58,55.00,30977.21,26755.90,3721.31,500.00,conventional,2018,Albany
8478,0,2018-03-25,1.57,149396.50,16361.69,109045.03,65.45,23924.33,19273.80,4270.53,380.00,conventional,2018,Albany

In [13]:
avocado_type11['yearmonth']=avocado_type11['Date'].dt.strftime('%Y-%m')
avocado_type11

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region,yearmonth
51,51,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.00,conventional,2015,Albany,2015-01
50,50,2015-01-11,1.24,41195.08,1002.85,31640.34,127.12,8424.77,8036.04,388.73,0.00,conventional,2015,Albany,2015-01
49,49,2015-01-18,1.17,44511.28,914.14,31540.32,135.77,11921.05,11651.09,269.96,0.00,conventional,2015,Albany,2015-01
48,48,2015-01-25,1.06,45147.50,941.38,33196.16,164.14,10845.82,10103.35,742.47,0.00,conventional,2015,Albany,2015-01
47,47,2015-02-01,0.99,70873.60,1353.90,60017.20,179.32,9323.18,9170.82,152.36,0.00,conventional,2015,Albany,2015-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8482,4,2018-02-25,1.28,104278.89,10368.77,59723.32,48.00,34138.80,30126.31,3702.49,310.00,conventional,2018,Albany,2018-02
8481,3,2018-03-04,1.08,139520.60,12002.12,105069.57,95.62,22353.29,16128.51,5941.45,283.33,conventional,2018,Albany,2018-03
8480,2,2018-03-11,1.12,144648.75,15823.35,110950.68,70.00,17804.72,14480.52,3033.09,291.11,conventional,2018,Albany,2018-03
8479,1,2018-03-18,1.35,105304.65,13234.86,61037.58,55.00,30977.21,26755.90,3721.31,500.00,conventional,2018,Albany,2018-03
8478,0,2018-03-25,1.57,149396.50,16361.69,109045.03,65.45,23924.33,19273.80,4270.53,380.00,conventional,2018,Albany,2018-03

In [14]:
bag_counts = avocado_type11.groupby('yearmonth').agg({'Small Bags': 'sum', 'Large Bags': 'sum', 'XLarge Bags': 'sum'}).reset_index()
bag_counts

   yearmonth  Small Bags  Large Bags  XLarge Bags
0    2015-01    38977.41     1930.69         0.00
1    2015-02    38263.95     1373.34         0.00
2    2015-03    44264.29     1873.58         0.00
3    2015-04    51987.45     2822.05       104.17
4    2015-05   107007.23     2078.16         0.00
5    2015-06    98631.89     1683.64         0.00
6    2015-07    78118.29      659.41        33.33
7    2015-08    52147.26      555.96         0.00
8    2015-09    30806.03     1772.57         0.00
9    2015-10    34185.58     1526.65         0.00
10   2015-11    38110.92     1293.38         0.00
11   2015-12    31731.30      427.64         0.00
12   2016-01    81045.74     2130.93         0.00
13   2016-02    53033.60     5621.56         0.00
14   2016-03    50617.23     1555.88         0.00
15   2016-04    50835.96     1961.99       231.94
16   2016-05    93510.81     1044.70      1203.61
17   2016-06    70760.43     1490.10      6335.00
18   2016-07    83630.92     1972.39     10190.00
19   2016-08    57210.66     1084.78      3527.23
20   2016-09    44724.30     1683.89       105.00
21   2016-10    52837.70     1405.67         0.00
22   2016-11    37477.14     1341.98        56.94
23   2016-12    38546.84     1873.00        43.22
24   2017-01    56502.28      643.38        13.18
25   2017-02    43392.70     1107.53         0.00
26   2017-03    39822.34    37091.74         0.00
27   2017-04    39417.40    54585.36         0.00
28   2017-05    26808.97    45990.29       813.34
29   2017-06    14100.03    28150.05      5268.33
30   2017-07    28515.63    23413.15      6695.00
31   2017-08    32215.37    17842.53      3229.99
32   2017-09    19855.68    15713.01      2643.33
33   2017-10    21252.43    18022.24         0.00
34   2017-11    30478.42    20053.97         0.00
35   2017-12    35663.50    30261.00         0.00
36   2018-01    40284.47    26018.54        90.00
37   2018-02    69640.49    12756.59      1391.11
38   2018-03    76638.73    16966.38      1454.44

In [15]:
melted_bag_data=bag_counts.melt(id_vars='yearmonth',value_vars=['Small Bags','Large Bags','XLarge Bags'], var_name='bagsize',value_name='Count')
melted_bag_data[1:50]

   yearmonth     bagsize      Count
1    2015-02  Small Bags   38263.95
2    2015-03  Small Bags   44264.29
3    2015-04  Small Bags   51987.45
4    2015-05  Small Bags  107007.23
5    2015-06  Small Bags   98631.89
6    2015-07  Small Bags   78118.29
7    2015-08  Small Bags   52147.26
8    2015-09  Small Bags   30806.03
9    2015-10  Small Bags   34185.58
10   2015-11  Small Bags   38110.92
11   2015-12  Small Bags   31731.30
12   2016-01  Small Bags   81045.74
13   2016-02  Small Bags   53033.60
14   2016-03  Small Bags   50617.23
15   2016-04  Small Bags   50835.96
16   2016-05  Small Bags   93510.81
17   2016-06  Small Bags   70760.43
18   2016-07  Small Bags   83630.92
19   2016-08  Small Bags   57210.66
20   2016-09  Small Bags   44724.30
21   2016-10  Small Bags   52837.70
22   2016-11  Small Bags   37477.14
23   2016-12  Small Bags   38546.84
24   2017-01  Small Bags   56502.28
25   2017-02  Small Bags   43392.70
26   2017-03  Small Bags   39822.34
27   2017-04  Small Bags   39417.40
28   2017-05  Small Bags   26808.97
29   2017-06  Small Bags   14100.03
30   2017-07  Small Bags   28515.63
31   2017-08  Small Bags   32215.37
32   2017-09  Small Bags   19855.68
33   2017-10  Small Bags   21252.43
34   2017-11  Small Bags   30478.42
35   2017-12  Small Bags   35663.50
36   2018-01  Small Bags   40284.47
37   2018-02  Small Bags   69640.49
38   2018-03  Small Bags   76638.73
39   2015-01  Large Bags    1930.69
40   2015-02  Large Bags    1373.34
41   2015-03  Large Bags    1873.58
42   2015-04  Large Bags    2822.05
43   2015-05  Large Bags    2078.16
44   2015-06  Large Bags    1683.64
45   2015-07  Large Bags     659.41
46   2015-08  Large Bags     555.96
47   2015-09  Large Bags    1772.57
48   2015-10  Large Bags    1526.65
49   2015-11  Large Bags    1293.38

In [18]:
regions=avocado_df["region"].sort_values().unique()
avocado_types=avocado_df["type"].sort_values().unique()
regions
avocado_types

array(['conventional', 'organic'], dtype=object)

In [34]:
import plotly.express as px
#initializing dash
app_1=Dash(__name__)

In [33]:
def update_charts(region, avocado_type, start_date, end_date):
    start=np.datetime64(start_date)
    end=np.datetime64(end_date)
    r=str(region)
    at=str(avocado_type)
    filtered_data=avocado_type1[
        (avocado_type1['region']==r) &
        (avocado_type1['type']==at) &
        (avocado_type1['Date']>= start) &
        (avocado_type1['Date']<= end)
    ]
    # filtered_data = avocado_type1.query(
    #     "region == @region and type == @avocado_type"
    #     " and Date >= @start_date and Date <= @end_date"
    # )
    print(filtered_data)


update_charts("Albany","conventional","2017-03-17","2018-03-17")
# print(filtered_data)

      Unnamed: 0       Date  AveragePrice  Total Volume      4046       4225  \
5616           0 2017-12-31          1.47     113514.42   2622.70  101135.53
5617           1 2017-12-24          1.45      77039.09   2811.71   58592.23
5618           2 2017-12-17          1.43      70677.56   2578.95   50811.52
5619           3 2017-12-10          1.29      92325.53   3220.05   75147.56
5620           4 2017-12-03          1.39     139970.00   3772.00  126551.00
5621           5 2017-11-26          1.50      62977.00   2413.00   49076.00
5622           6 2017-11-19          1.65      97273.00   2695.00   80596.00
5623           7 2017-11-12          1.26     113586.00   4509.00   96748.00
5624           8 2017-11-05          1.62      71076.94   2483.36   55509.31
5625           9 2017-10-29          1.67      69432.23   2959.76   57585.49
5626          10 2017-10-22          1.56      69704.09   3758.80   57340.30
5627          11 2017-10-15          1.65      73574.89   3383.35   63355.37
5628          12 2017-10-08          1.78      55368.61   3679.82   45843.75
5629          13 2017-10-01          1.69      71205.11   4411.02   57416.25
5630          14 2017-09-24          1.64      68539.64   2508.62   56023.16
5631          15 2017-09-17          1.41      80109.29   3986.20   66934.64
5632          16 2017-09-10          1.78      99645.88   3368.35   87155.11
5633          17 2017-09-03          1.76      74297.64   4738.38   59299.03
5634          18 2017-08-27          1.61      75471.56   2156.20   59831.83
5635          19 2017-08-20          1.61      74620.33   1553.71   59028.13
5636          20 2017-08-13          1.52     133070.41   1947.26  118605.14
5637          21 2017-08-06          1.53      92938.17   2456.91   76509.07
5638          22 2017-07-30          1.61      83599.96   1915.81   73287.66
5639          23 2017-07-23          1.49      84416.61   1905.52   72533.28
5640          24 2017-07-16          1.39     102461.61   2468.78   86707.66
5641          25 2017-07-09          1.52     101331.41   2899.46   81929.02
5642          26 2017-07-02          1.56      98282.07   2808.47   79968.24
5643          27 2017-06-25          1.53      89303.04   2224.67   74282.58
5644          28 2017-06-18          1.58      97079.34   2454.01   82154.43
5645          29 2017-06-11          1.65      91949.26   1989.84   76736.87
5646          30 2017-06-04          1.70      84842.97   1923.04   72573.09
5647          31 2017-05-28          1.80     121869.11   2345.65  106690.16
5648          32 2017-05-21          1.38     100256.85   2307.02   86817.51
5649          33 2017-05-14          1.77      96750.67   2804.86   80469.48
5650          34 2017-05-07          1.47     127193.26   2473.53   87791.87
5651          35 2017-04-30          1.13     124926.39   2573.11   99451.52
5652          36 2017-04-23          1.34      89327.10   4437.50   61512.84
5653          37 2017-04-16          1.62      90487.05   4362.98   71957.73
5654          38 2017-04-09          1.54     105436.11   3708.13   87775.86
5655          39 2017-04-02          1.62      92621.11   4530.80   68015.37
5656          40 2017-03-26          1.16     122951.65   3184.29  100854.22
5657          41 2017-03-19          1.60      92774.61   2332.96   72033.15
8480           2 2018-03-11          1.12     144648.75  15823.35  110950.68
8481           3 2018-03-04          1.08     139520.60  12002.12  105069.57
8482           4 2018-02-25          1.28     104278.89  10368.77   59723.32
8483           5 2018-02-18          1.43      85630.24   5499.73   61661.76
8484           6 2018-02-11          1.45     121804.36   8183.48   95548.47
8485           7 2018-02-04          1.03     216738.47   7625.65  195725.06
8486           8 2018-01-28          1.57      93625.03   3101.17   74627.23
8487           9 2018-01-21          1.69     135196.35   3133.37  116520.88
8488          10 2018-01-14          1.42      95246.38   2897.41   76570.67
8489          11 2018-01-07          1.13      98540.22   2940.63   76192.61

         4770  Total Bags  Small Bags  Large Bags  XLarge Bags          type  \
5616    20.25     9735.94     5556.98     4178.96         0.00  conventional
5617    19.06    15616.09     6863.18     8752.91         0.00  conventional
5618    79.18    17207.91     8914.13     8293.78         0.00  conventional
5619   104.36    13853.56     7268.21     6585.35         0.00  conventional
5620   136.00     9511.00     7061.00     2450.00         0.00  conventional
5621    62.00    11426.00     5059.00     6368.00         0.00  conventional
5622    43.00    13940.00     7536.00     6404.00         0.00  conventional
5623   213.00    12115.00     8006.00     4109.00         0.00  conventional
5624    33.88    13050.39     9877.42     3172.97         0.00  conventional
5625    57.94     8829.04     5050.91     3778.13         0.00  conventional
5626    35.48     8569.51     5101.64     3467.87         0.00  conventional
5627    62.45     6773.72     3882.02     2891.70         0.00  conventional
5628    42.63     5802.41     2148.20     3654.21         0.00  conventional
5629    77.85     9299.99     5069.66     4230.33         0.00  conventional
5630    74.82     9933.04     5391.35     4541.69         0.00  conventional
5631    33.59     9154.86     5289.78     3851.75        13.33  conventional
5632   136.96     8985.46     4559.36     3672.77       753.33  conventional
5633   121.57    10138.66     4615.19     3646.80      1876.67  conventional
5634    71.46    13412.07     9395.94     3709.46       306.67  conventional
5635   130.14    13908.35     8599.25     4155.77      1153.33  conventional
5636   186.67    12331.34     8301.97     3132.71       896.66  conventional
5637   336.06    13636.13     5918.21     6844.59       873.33  conventional
5638   321.62     8074.87     5552.63     1932.24       590.00  conventional
5639   940.58     9037.23     3250.30     4896.93       890.00  conventional
5640  2546.08    10739.09     4950.13     4788.96      1000.00  conventional
5641   494.51    16008.42     8213.25     5210.17      2585.00  conventional
5642   741.19    14764.17     6549.32     6584.85      1630.00  conventional
5643   129.85    12665.94     4686.34     6874.60      1105.00  conventional
5644   723.07    11747.83     3875.12     6697.71      1175.00  conventional
5645   364.68    12857.87     2704.43     8235.11      1918.33  conventional
5646   100.07    10246.77     2834.14     6342.63      1070.00  conventional
5647   105.74    12727.56     6141.75     6029.14       556.67  conventional
5648   334.01    10798.31     5338.56     5203.08       256.67  conventional
5649   196.39    13279.94     5727.85     7552.09         0.00  conventional
5650   121.07    36806.79     9600.81    27205.98         0.00  conventional
5651    81.89    22819.87    10547.36    12272.51         0.00  conventional
5652    84.45    23292.31     8236.01    15056.30         0.00  conventional
5653   161.28    14005.06     7179.98     6825.08         0.00  conventional
5654    44.28    13907.84     7121.61     6786.23         0.00  conventional
5655    97.26    19977.68     6332.44    13645.24         0.00  conventional
5656    70.17    18842.97     7252.70    11590.27         0.00  conventional
5657   140.57    18267.93     8302.27     9965.66         0.00  conventional
8480    70.00    17804.72    14480.52     3033.09       291.11  conventional
8481    95.62    22353.29    16128.51     5941.45       283.33  conventional
8482    48.00    34138.80    30126.31     3702.49       310.00  conventional
8483    75.00    18393.75    15677.67     2336.08       380.00  conventional
8484    61.00    18011.41    13264.91     4295.39       451.11  conventional
8485   143.53    13244.23    10571.60     2422.63       250.00  conventional
8486    55.59    15841.04    11614.79     4159.58        66.67  conventional
8487    88.78    15453.32    10023.79     5429.53         0.00  conventional
8488    44.00    15734.30    10012.80     5721.50         0.00  conventional
8489    42.63    19364.35     8633.09    10707.93        23.33  conventional

      year  region
5616  2017  Albany
5617  2017  Albany
5618  2017  Albany
5619  2017  Albany
5620  2017  Albany
5621  2017  Albany
5622  2017  Albany
5623  2017  Albany
5624  2017  Albany
5625  2017  Albany
5626  2017  Albany
5627  2017  Albany
5628  2017  Albany
5629  2017  Albany
5630  2017  Albany
5631  2017  Albany
5632  2017  Albany
5633  2017  Albany
5634  2017  Albany
5635  2017  Albany
5636  2017  Albany
5637  2017  Albany
5638  2017  Albany
5639  2017  Albany
5640  2017  Albany
5641  2017  Albany
5642  2017  Albany
5643  2017  Albany
5644  2017  Albany
5645  2017  Albany
5646  2017  Albany
5647  2017  Albany
5648  2017  Albany
5649  2017  Albany
5650  2017  Albany
5651  2017  Albany
5652  2017  Albany
5653  2017  Albany
5654  2017  Albany
5655  2017  Albany
5656  2017  Albany
5657  2017  Albany
8480  2018  Albany
8481  2018  Albany
8482  2018  Albany
8483  2018  Albany
8484  2018  Albany
8485  2018  Albany
8486  2018  Albany
8487  2018  Albany
8488  2018  Albany
8489  2018  Albany

In [50]:
fig=px.bar(melted_bag_data,x='yearmonth',y='Count',color='bagsize',title="variation in bags according to month",labels={'count':"bag count"})
fig.update_layout(barmode='stack')

In [65]:
app_1.layout=html.Div(
                children=[
                    html.H1(children="Avocado analytics app 1"),
                    html.P(children="This plot will help us visulaize avocado average prices fluctuation with time"),
                    html.Div(
                        children=[
                            html.Div(
                                children=[
                                    
                                ])
                        ])
                    dcc.Graph(figure={
                        "data":[
                            {
                                "x": avocado_type11["Date"],
                                "y": avocado_type11["AveragePrice"],
                                "type": "lines",
                            },
                        ],
                        "layout":{"title":"Average price vs Date"},
                    },
                   ),
                   dcc.Graph(figure={
                       "data":[
                           {
                               "x": avocado_type11['Date'],
                               "y":avocado_type11['Total Volume'],
                               "type":"lines",
                           },
                       ],
                       "layout":{"title":"Volume of avocados vs Date"},
                   },
                             ),
                    html.P(children="This plot will help us visulaize purchased avocado bag size monthly"),
                    dcc.Graph(figure=fig)
                  
                ])